# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
 
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VIZ assembly files
*.s
*.vz
*.v
*.vsm
*.viz

# log files
*.log

build/*
.clangd/
.git/
compile_commands.json

assembler/vsm
assembler/vsm4web
runtime/vizier
runtime/vrk
